%p
  App that makes use of SoundCloud rails sdk.
%div{:class => "connect-with-soundcloud #{"connected" if logged_in?}"}
  - if not logged_in?
    = link_to "Connect With SoundCloud", soundcloud_connect_path, :class => "connect", :target =>"_blank"
  - else
    = link_to "Disconnect From SoundCloud", soundcloud_disconnect_path, :class => "disconnect"
    %span.current-user
      You are logged in as:
      %span.username= current_user.soundcloud_username if logged_in?
    %div{:class => "visible-when-logged-in#{"hidden" unless logged_in?}"}
      = link_to "Check out your profile infos", you_path
